/**
 * @section Houdini
 * Expand-and-collapse content
 */

/**
 * Show/hide text
 */
.js-houdini .active > .collapse-text-show,
.collapse-text-hide {
	display: none;
	visibility: hidden;
}

.js-houdini .active > .collapse-text-hide {
	display: inline-block;
	visibility: visible;
}


/**
 * The content
 */
.js-houdini .collapse {
	@extend .screen-reader;

	&.active {
		@extend .screen-reader-focusable:active
	}

	&:focus {
		outline: none;
	}
}


/**
 * Houdini subnav
 */
.js-houdini ul.collapse.active {
	margin-left: $spacing;
}